@charset "UTF-8";

.editable-text { 
    -moz-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
}

.tab-content {
  padding:10px;
  border-left:1px solid #DDD;
  border-bottom:1px solid #DDD;
  border-right:1px solid #DDD;
}
input.requiredFalse {
	border-color: red ; 
	border-style: solid ;
	border-width : thin ;
}

 table.table-bordered tbody th, table.table-bordered tbody td, 
 table.table-bordered thead td , table.table-bordered thead th{
    border-top: 1px solid #696565; 
    border-bottom: 1px solid #696565;
    border-left: 1px solid #696565;
    border-right: 1px solid #696565;
 }
 table.table-bordered{
 	border:1px solid #696565;
 }
 table.table-popup{

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
 }
table.table-popup td, table.table-popup th {
	    border: 1px solid #ddd;
	    padding: 8px;
	}
	
table.table-popup	tr:nth-child(even){background-color: #f2f2f2;};
	
table.table-popup	tr:hover {background-color: #ddd;};
	
table.table-popup	th {
	    padding-top: 12px;
	    padding-bottom: 12px;
	    text-align: left;
	    background-color: #4CAF50;
	    color: white;
}


.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	right: auto;
	margin-top: -6px;
	margin-left: -1px;
	-weblit-border-radius: 0 6px 6xp 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

@media ( min-width :768px) {
	.navbar-right .dropdown-menu {
		right: auto;
		left: 100%;
	}
}

#map {width:1050px;height:620px;position:relative;margin:auto;}
#map svg {position: relative;top: -100px; left: 0px;}
svg > a {cursor: pointer;display:block;}
#sehir{font-size:30px;text-align:center;margin-top:25px;color:#666;}
